@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
    @apply text-primary-200 hover:text-primary-100 font-body uppercase text-sm font-bold
}

.link {
    @apply font-body text-sm uppercase font-bold text-neutral-100 hover:underline cursor-pointer pb-4
}

